<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<style>
  .sd-formFields .sd-filter {
    background: url("{{ 'select_arrow.png' | asset_url }}") center right no-repeat;
      }
</style>

{% assign finalmf = "" %}

<div class="page-width">
  {% if section.settings.title != blank %}
  <div class="title h3 sd-title">
    {{ section.settings.title }}
  </div>
  {% endif %}
  <div class="sd-formFields">
    <ul class="sd-dropdowns">
      <li class="sd-field_1">       
        <div class="dropdown">
          <button id="dropbtn1" class="dropbtn sd-filter">Maker</button>
          <div id="dropdown-field_1" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput1" class="myInput">
            <div class="dropdown-content-list">
            {% for link in linklists.maker.links %}
            <a href="#" data-value="{{ link.handle }}">{{ link.title }}</a>
            {% endfor %}
            </div>
          </div>
        </div>       
      </li>
      <li class="sd-field_2">        
       <div class="dropdown">
          <button id="dropbtn2" class="dropbtn sd-filter" disabled>Model</button>
          <div id="dropdown-field_2" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput2" class="myInput">  
            <div class="dropdown-content-list">
            </div>
          </div>
        </div> 
      </li>
      <li class="sd-field_3">        
       <div class="dropdown">
          <button id="dropbtn3" class="dropbtn sd-filter" disabled>Parts</button>
          <div id="dropdown-field_3" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput3" class="myInput">
            <div class="dropdown-content-list">
            </div>
          </div>
        </div> 
      </li>
      <li class="sd-field_4">        
        <div class="dropdown">
          <button id="dropbtn4" class="dropbtn sd-filter" disabled>Manufacturer</button>
          <div id="dropdown-field_4" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput4" class="myInput">   
            <div class="dropdown-content-list">
            </div>
          </div>
        </div> 
      </li>      
      <li class="sd_bttns">
        <div id="ymm_actions" class="button-action" align="center">
          <input type="button" name="submit" id="sd_search" value="GO" class="button sd_search"/>
          <input type="button" name="reset" id="sd_reset" value="Reset" class="button sd_reset"/>
        </div>
      </li>
    </ul>
  </div>
</div>

{% schema %}
{
"name": "t:sections.search-dropdowns.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Search Dropdowns",
"label": "t:sections.search-dropdowns.settings.title.label"
}  
],
"presets": [
{
"name": "t:sections.search-dropdowns.presets.name"
}
]
}
{% endschema %}
<script src="{{ 'data.json' | asset_url }}"></script>
<script> 
 $(document).ready(function(){

    var menuArr = [{
      "Audi": {
          "TT-TTS-TTRS-8S": ["Exhaust-Systems", "Suspension"],
          "S1-8X": ["Exhaust-Systems", "Suspension"],
          "S4-B9": ["Exhaust-Systems", "Suspension"],
          "S5-5F": ["Exhaust-Systems", "Suspension"],
          "A1-8X": ["Exhaust-Systems", "Suspension"],
          "RS3-8V": ["Exhaust-Systems", "Suspension"],
          "A3-8V": ["Exhaust-Systems", "Suspension"],
          "Q2-GA": ["Exhaust-Systems", "Suspension"],
          "Q3-F3": ["Exhaust-Systems", "Suspension"],
          "SQ2-GA": ["Exhaust-Systems", "Suspension"],
          "A3-8P": ["Exhaust-Systems", "Suspension"],
          "TT-TTS-TTRS-8J": ["Exhaust-Systems", "Suspension"],
          "S3-8V": ["Exhaust-Systems", "Suspension"],
          "A1-GB": ["Exhaust-Systems", "Suspension"],
          "RSQ3-F3": ["Exhaust-Systems", "Suspension"],
          "RS3-8Y": ["Exhaust-Systems", "Suspension"],
          "A4-B8": ["Exhaust-Systems", "Suspension"],
          "A4-B9": ["Exhaust-Systems", "Suspension"],
          "A5-8T": ["Exhaust-Systems", "Suspension"],
          "A5-F5": ["Exhaust-Systems", "Suspension"],
          "RS4-B8": ["Exhaust-Systems", "Suspension"],
          "RS5-8T": ["Exhaust-Systems", "Suspension"],
          "S4-B8": ["Exhaust-Systems", "Suspension"],
          "S5-8T": ["Exhaust-Systems", "Suspension"],
          "TT-TTS-8N": ["Exhaust-Systems", "Suspension"],
          "A3-8L": ["Exhaust-Systems", "Suspension"],
          "A4-B6": ["Exhaust-Systems", "Suspension"],
          "A4-B7": ["Exhaust-Systems", "Suspension"],
          "A6-4G-C7": ["Exhaust-Systems", "Suspension"],
          "A6-F2-C8": ["Exhaust-Systems", "Suspension"],
          "A7-4G-4G1-C7": ["Exhaust-Systems", "Suspension"],
          "A7-F2-C8": ["Exhaust-Systems", "Suspension"],
          "Q7-4L": ["Exhaust-Systems", "Suspension"],
          "Q7-4M": ["Exhaust-Systems", "Suspension"],
          "Q8-4M": ["Exhaust-Systems", "Suspension"],
          "R8-42": ["Exhaust-Systems", "Suspension"],
          "RS3-8P": ["Exhaust-Systems", "Suspension"],
          "RS4-B5": ["Exhaust-Systems", "Suspension"],
          "RS4-B7": ["Exhaust-Systems", "Suspension"],
          "RS4-B9": ["Exhaust-Systems", "Suspension"],
          "RS6-4B-C5": ["Exhaust-Systems", "Suspension"],
          "RS6-4F-C6": ["Exhaust-Systems", "Suspension"],
          "RS6-4G-C7": ["Suspension", "Exhaust-Systems"],
          "RS6-F2-C8": ["Exhaust-Systems", "Suspension"],
          "RS7-4G-C7": ["Suspension", "Exhaust-Systems"],
          "RS7-F2-C8": ["Exhaust-Systems", "Suspension"],
          "RSQ8-4M": ["Exhaust-Systems", "Suspension"],
          "S3-8L": ["Exhaust-Systems", "Suspension"],
          "S3-8P": ["Exhaust-Systems", "Suspension"],
          "S3-8Y": ["Exhaust-Systems", "Suspension"],
          "S4-B6": ["Exhaust-Systems", "Suspension"],
          "S4-B7": ["Exhaust-Systems", "Suspension"],
          "S6-4F-C6": ["Exhaust-Systems", "Suspension"],
          "S6-4G-C7": ["Exhaust-Systems", "Suspension"],
          "S6-F2-C8": ["Exhaust-Systems", "Suspension"],
          "S7-4G-C7": ["Exhaust-Systems"],
          "S7-F2-C8": ["Exhaust-Systems", "Suspension"],
          "S8-D4-4H": ["Exhaust-Systems", "Suspension"],
          "S8-D5-4N": ["Exhaust-Systems", "Suspension"],
          "SQ5-8R1": ["Exhaust-Systems", "Suspension"],
          "SQ5-FY": ["Exhaust-Systems", "Suspension"],
          "SQ7-4M": ["Exhaust-Systems", "Suspension"],
          "SQ8-4M": ["Exhaust-Systems", "Suspension"],
          "Urquattro-85": ["Exhaust-Systems", "Suspension"],
          "RS5-F5": ["Exhaust-Systems", "Suspension"],
          "80-B4": ["Suspension"],
          "80-90-B2": ["Suspension"],
          "80-90-B3": ["Suspension"],
          "A4-B5": ["Suspension"],
          "A6-4F-C6": ["Suspension"],
          "Q5-8R": ["Suspension"],
          "A3-8Y": ["Suspension"],
          "Q3-8U-8U1": ["Suspension"],
          "RSQ3-8U-8U1": ["Suspension"],
          "A6-4B-C5": ["Suspension"],
          "Q5-FY": ["Suspension"],
          "A4-8H-Convertible": ["Suspension"],
          "S4-B5": ["Suspension"],
          "100-A6-C4": ["Suspension"],
          "Q4-e-tron-FZ": ["Suspension"],
          "A8-D2-4D": ["Suspension"],
          "A2-8Z": ["Suspension"],
          "A8-D3-4E": ["Suspension"],
          "A8-D4-4H": ["Suspension"],
          "100-C3": ["Suspension"],
          "200-44": ["Suspension"],
          "A8-8H-D4": ["Suspension"],
          "A8-D4-8H": ["Suspension"],
          "A8-D5-F8": ["Suspension"],
          "e-tron-GE": ["Suspension"],
          "e-tron-GT-FW": ["Suspension"],
          "S6-4B-C5": ["Suspension"],
          "S8-D2-4D": ["Suspension"],
          "S8-D3-4E": ["Suspension"],
          "50-86": ["Suspension"],
          "Coupe-89": ["Suspension"],
          "RS2-P1": ["Suspension"],
          "S2-B4": ["Suspension"],
          "S4-C4": ["Suspension"],
          "S6-C4": ["Suspension"],
          "V8-D11-C4": ["Suspension"],
          "A5-B8": ["Suspension"]
      }
      }];
    var mfgArr = JSON.parse(mfg);
    var arr, current_field, dropdown_val1, dropdown_val2, dropdown_val3, dropdown_val4,search_tag,tagstr,newtext;
    
    console.log("menuArr ::"+JSON.stringify(menuArr));  
    console.log("mfgArr :: "+mfgArr);     
    disableSearch();
    //Out side click
    $(document).on("click", function(event){
        var $trigger = $(".dropdown");
        if($trigger !== event.target && !$trigger.has(event.target).length){          
          //console.log("trigger");
          $(".dropdown-content").hide();
        }            
    });
      //Drop btn Click
    $(document).on('click','.dropbtn',function() {
      $(".dropdown").removeClass("active");
      $(this).parents(".dropdown").addClass("active");
      $(".dropdown").not(".active").find(".dropdown-content").hide();
      $(this).parents(".dropdown").find(".dropdown-content").toggle();     
    }); 
    // dropdown1
    $(document).on('click','#dropdown-field_1 a',function() {
      
      $(this).parents(".dropdown").find(".dropdown-content").toggle();      
      dropdown_val1 = $(this).attr("data-value");  
      newtext = dropdown_val1.toString().replace(/-/g, " ");
      var flag = 0;
	  $(this).parents(".dropdown").find(".dropbtn").text(newtext);
      tagstr = dropdown_val1;
      $("#dropdown-field_2 a").remove(); 
      $("#dropdown-field_3 a").remove(); 
      $("#dropdown-field_4 a").remove();
      $("#dropbtn2").text('Model').prop('disabled',true);
      $("#dropbtn3").text('Parts').prop('disabled',true);
      $("#dropbtn4").text('Manufacturer').prop('disabled',true);
      enableSearch();
      $.each(menuArr,function(key,val){ 
       // console.log("val ::"+JSON.stringify(val));
        //console.log("dropdown_val :: "+dropdown_val1);
        $.each(val,function(key1,val1){
          if(key1 == dropdown_val1)  
          { 
           // console.log("val1 ::"+JSON.stringify(val1));
            if(jQuery.type(val1) === 'object'){ 
              flag = 1;
              $.each(val1,function(key2,val2){                  
                $("#dropdown-field_2 .dropdown-content-list").append("<a href='#' data-value='"+key2+"'>"+key2.replace("-", " ")+"</a>");
              });
            }
            /*else{              
              $("#dropdown-field_2 .dropdown-content-list").append("<a href='#' data-value='"+key1+"'>"+val1.replace("-", " ")+"</a>");
            }*/
          }
        });
      });
      if(flag == 1) {
      $("#dropbtn2").prop('disabled',false); 
      }
      else{
        $("#dropbtn2").prop('disabled',true); 
      }
    });
    //Dropdown 2
    $(document).on('click','#dropdown-field_2 a',function() {      
      dropdown_val2 = $(this).attr("data-value");
      newtext = dropdown_val2.toString().replace(/-/g, " ");
      $(this).parents(".dropdown").find(".dropbtn").text(newtext);
      tagstr = dropdown_val1+"_"+dropdown_val2;
      $("#dropdown-field_3 a").remove();     
      $("#dropdown-field_4 a").remove();     
      $("#dropbtn3").text('Parts').prop('disabled',true);
      $("#dropbtn4").text('Manufacturer').prop('disabled',true);  
      var flag = 0;
      $.each(menuArr,function(key,val){ 
       // console.log("val ::"+JSON.stringify(val));
       // console.log("dropdown_val :: "+dropdown_val1);
        $.each(val,function(key1,val1){
          if(key1 == dropdown_val1)  
          { 
         //   console.log("val1 ::"+JSON.stringify(val1));
            if(jQuery.type(val1) === 'object'){              
              $.each(val1,function(key2,val2){                
                if(key2 == dropdown_val2)  
                {  
               //   console.log("in if key2 :: val2");
                  if(Array.isArray(val2)){
                    flag = 1;
                 //   console.log("yes object");
                    $.each(val2,function(key3,val3){
                    var newval = val3.toString().replace(/-/g, " ");
                  //  console.log("newval :: "+newval);
                    $("#dropdown-field_3 .dropdown-content-list").append("<a href='#' data-value='"+val3+"'>"+newval+"</a>");
                    });
                    }
                  else{
                    var newval1 = val2.toString().replace(/-/g, " ");
                //    console.log("newval1 :: "+newval1);
                    $("#dropdown-field_3 .dropdown-content-list").append("<a href='#' data-value='"+newval1+"'>"+newval1+"</a>");
                    
                  }
                  if(flag == 1)
                  {
                    $("#dropbtn3").prop('disabled',false);
                  } 
                  else{
                 //   console.log("parts else");
                    $("#dropbtn3").prop('disabled',true); 
                  }
                }
              });
            }           
          }
        });
      });      
      $(this).parents(".dropdown").find(".dropdown-content").toggle();
      
    });  
    //Dropdown 3
    $(document).on('click','#dropdown-field_3 a',function() {
      dropdown_val3 = $(this).attr("data-value");
      newtext = dropdown_val3.toString().replace(/-/g, " ");
      $(this).parents(".dropdown").find(".dropbtn").text(newtext);
      tagstr = dropdown_val1+"_"+dropdown_val2+"_"+dropdown_val3;
      // disableSearch();
      $("#dropdown-field_4 a").remove().prop('disabled',true);    
      $("#dropbtn4").text("Manufacturer");
      var mfgstr = dropdown_val1+"_"+dropdown_val2+"_"+dropdown_val3;
     // console.log("mfgstr :: "+mfgstr);
      var flag = 0;
      $.each(mfgArr,function(key,val){
        //console.log("val :: "+val);
       // console.log("mfgstr :: "+mfgstr);
        if(val.indexOf(mfgstr) > -1)  
        {   
          flag = 1;
          var mfgnewval = val.substring(val.lastIndexOf('_')).replace("_",'').replace("-"," ");
         // console.log("mfgnewval :: "+mfgnewval);          
          $("#dropdown-field_4 .dropdown-content-list").append("<a href='#' data-value='"+val.substring(val.lastIndexOf('_')).replace("_",'')+"'>"+val.substring(val.lastIndexOf('_')).replace("_",'').replace("-"," ")+"</a>");
          
        }
        if(flag == 1)
        {          
        	$("#dropbtn4").prop('disabled',false);
        } 
        else{         
           $("#dropbtn4").prop('disabled',true); 
        }
      });       
       $(this).parents(".dropdown").find(".dropdown-content").toggle(); 
      
    }); 
     //Dropdown 4    
    $(document).on('click','#dropdown-field_4 a',function() {        
      dropdown_val4 = $(this).attr("data-value");
      newtext = dropdown_val4.toString().replace(/-/g, " ");
      $(this).parents(".dropdown").find(".dropbtn").text(newtext);
      enableSearch();
      tagstr = dropdown_val1+"_"+dropdown_val2+"_"+dropdown_val3+"_"+dropdown_val4; 
      $(this).parents(".dropdown").find(".dropdown-content").toggle();
      
    });
    //Search Click
    $(document).on('click','#sd_search',function() {
      var pageurl = "https://orange-tuning.myshopify.com/search?q=tag:";
      window.location.replace(pageurl+tagstr);
    });
    // Reset Click
    $(document).on('click','#sd_reset',function() {
      disableSearch();     
      $("#dropdown-field_2 a").remove();
      $("#dropdown-field_3 a").remove();
      $("#dropdown-field_4 a").remove();     
      $("#dropbtn2").prop('disabled',true);
      $("#dropbtn3").prop('disabled',true);
      $("#dropbtn4").prop('disabled',true);
      $("#dropbtn1").text('Maker');
      $("#dropbtn2").text('Model');
      $("#dropbtn3").text('Parts');
      $("#dropbtn4").text('Manufacturer');
    });
     
    // input seach box
    $("input.myInput").keyup(function(){
      var filter, a, i;      
      filter = $(this).val().toUpperCase();
      //console.log("filter :: "+filter);
      a = $(this).parents(".dropdown-content").find("a");
      for (i = 0; i < a.length; i++) {
        var txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    });
  
  });  
  
  function disableSearch()
  {
    $("#sd_search").prop('disabled',true);
  }
  function enableSearch()
  {
    $("#sd_search").prop('disabled',false);
  }
 
</script>